#
# {{ ansible_managed }}
#

global
    chroot      /var/lib/haproxy
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    timeout connect 2s
    timeout client 1m
    timeout server 1m

frontend main
    mode tcp
    bind {{ haproxy_bind }}
    default_backend             tau-traefik-websecure

backend tau-traefik-websecure
    balance     leastconn
{% for address in ep_addresses %}
    # on {{ address["nodeName"] }}
    server {{ address["targetRef"]["name"] }} {{ address["ip"] }}:{{ websecure_port }} send-proxy-v2
{% endfor %}

{% if haproxy_bind_insecure is defined %}
frontend main_insecure
    mode tcp
    bind {{ haproxy_bind_insecure }}
    default_backend             tau-traefik-insecure

backend tau-traefik-insecure
    balance     leastconn
{% for address in ep_addresses %}
    # on {{ address["nodeName"] }}
    server {{ address["targetRef"]["name"] }} {{ address["ip"] }}:{{ insecure_port }} send-proxy-v2
{% endfor %}
{% endif %}

